* {
  margin: 0;
  padding: 0;
}
.tituloSitio {
  font-weight: 500;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
  line-height: 44px;
  word-spacing: normal;
  letter-spacing: normal;
  margin: 5px;
}
.acercaDeNosotrosTitulo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 900;
  margin-bottom: 50px;
  background-color: rgb(194, 194, 194);
  height: 100px;
  padding-left: 20px;
}
.contactoTitulo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: lighter;
  margin-bottom: 50px;
  background-color: rgb(194, 194, 194);
  height: 100px;
  padding-left: 20px;
}
.registro {
  font-weight: lighter;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
}
.tituloSobreImagen {
  font-weight: lighter;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
}
.nuestrosInstructoresTitulo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 900;
  margin-bottom: 50px;
  background-color: rgb(194, 194, 194);
  height: 100px;
  padding-left: 20px;
}
.nuestrasClasesTitulo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 900;
  margin-bottom: 50px;
  background-color: rgb(194, 194, 194);
  height: 100px;
  padding-left: 20px;
  grid-area: título;
}
.tablaEncabezados {
  font-weight: lighter;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
}
.tituloDeMenu {
  font-weight: lighter;
  color: black;
  list-style-type: none;
  text-decoration: none;
}
.bodyIndex {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-image: url(../assets/imagenFondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.liMenu {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
/* hover boton */
.liMenu:hover {
  background-color: gray;
  transition: 1s;
}
.encabezadoContenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: rgb(194, 194, 194);
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.encabezadoItem {
  justify-self: end;
}
.instructoresContenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.acercaDeNosotrosContenedor {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "imagen texto";
  grid-gap: 30px;
}
.item1 {
  grid-area: imagen;
}
.item2 {
  grid-area: texto;
  padding-right: 40px;
}
.linkTituloSitio {
  color: black;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imagenAcercaDe {
  width: 350px;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imagenInstructor {
  width: 400px;
}
.imagenInstructora {
  width: 400px;
}
.texto {
  grid-area: texto2;
  align-items: center;
  justify-content: center;
}
.sectionIndex {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}
.boxFrase {
  align-content: flex-end;
  justify-items: flex-end;
  margin: 50px;
}
.frase {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 44px;
  word-spacing: normal;
  letter-spacing: normal;
  margin-bottom: 200px;
}
.tituloFrase {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: left;
  line-height: 44px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 500;
}
.encabezadoContenedorIndex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 20px;
}
.instructoresContenedor__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructoresContenedorContent__Text {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 500;
  margin-left: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.instructoresContenedorContent__Text2 {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 500;
  padding-top: 10px;
  margin-bottom: 20px;
}
.nuestrasClasesSubtitulo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 300;
}
.nuestrasClasesItem1 {
  display: flex;
  flex-direction: row;
}
.nuestrasClasesItem2 {
  display: flex;
  flex-direction: row;
}
.nuestrasClasesItem3 {
  display: flex;
  flex-direction: row;
}
.boxTextoYogaKund {
  margin: 50px;
}
.boxTextoYogaViny {
  margin: 50px;
}
.boxTextoMeditacion {
  margin: 50px;
}
.contenedorContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemContactoTexto {
  margin-left: 40px;
  margin-left: 20px;
}
.tituloUbicacion {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: left;
  line-height: 34px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 300;
}
.imagenClase {
  width: 500px;
  margin-right: 20px;
}
.contenedorFormulario {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: max-content;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  align-content: center;
  margin-left: 300px;
}
.formulario {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .tituloSitio {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    margin: 3px;
  }
  .liMenu {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    font-size: 15px;
  }
  .títuloFrase {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
  .frase {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 200px;
    font-weight: 500;
  }
  .acercaDeNosotrosTitulo {
    font-size: 30px;
  }
  .pGeneral {
    font-size: 12px;
    line-height: 24px;
  }
  .nuestrosInstructoresTitulo {
    font-size: 30px;
  }
  .imagenInstructor {
    width: 250px;
  }
  .imagenInstructora {
    width: 250px;
  }
  .instructoresContenedor {
    display: flex;
    flex-direction: column;
  }
  .nuestrasClasesTitulo {
    font-size: 30px;
  }
  .nuestrasClasesItem1 {
    display: flex;
    flex-direction: column;
  }
  .nuestrasClasesItem2 {
    display: flex;
    flex-direction: column;
  }
  .nuestrasClasesItem3 {
    display: flex;
    flex-direction: column;
  }
  .imagenYogaKund {
    display: none;
  }
  .imagenYogaViny {
    display: none;
  }
  .imagenMeditacion {
    display: none;
  }
  .contactoTitulo {
    font-size: 30px;
  }
  .contenedorContacto {
    display: flex;
    flex-direction: column;
  }
  .tituloUbicacion {
    font-size: 15px;
  }
  .imagenUbicacion {
    width: 250px;
    margin-right: auto;
  }
  .bodyIndex {
    background-size: cover;
    background-image: url(../assets/fondoCelular.jpg);
  }
  .registro {
    font-size: 15px;
  }
  .contenedorFormulario {
    margin: auto;
  }
  .acercaDeNosotrosContenedor {
    display: flex;
    flex-direction: column;
  }
  .item2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
  }
  .item1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
  }
  .imagenAcercaDe {
    width: 240px;
    height: 350px;
  }
  .itemContactoTexto {
    margin-right: 20px;
  }
  .carousel {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .tituloSitio {
    font-weight: bold;
  }
  .frase {
    font-weight: bold;
  }
  .tituloFrase {
    font-weight: bold;
  }
  .acercaDeNosotrosContenedor {
    display: flex;
    flex-direction: column;
  }
  .item2 {
    align-items: center;
    margin-left: 30px;
  }
  .instructoresContenedor {
    display: flex;
    flex-direction: column;
  }
  .contenedorContacto {
    display: flex;
    flex-direction: column;
  }
  .tituloUbicacion {
    font-size: 25px;
  }
  .bodyIndex {
    background-size: cover;
    background-image: url(../assets/fondoTablet.jpg);
  }
  .contenedorFormulario {
    margin: auto;
  }
  .imagenAcercaDe {
    width: 300px;
    margin-left: 0px;
  }
  .imagenInstructor {
    width: 350px;
  }
  .imagenInstructora {
    width: 350px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 715px) {
  .imagenYogaKund {
    display: none;
  }
  .imagenYogaViny {
    display: none;
  }
  .imagenMeditacion {
    display: none;
  }
  .carousel {
    width: 500px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 540px) {
  .carousel {
    display: none;
  }
}
@media only screen and (min-width: 930px) and (max-width: 1200px){
  .contenedorFormulario{
    margin: auto;
  }
}
.imagenLocation {
  width: 700px;
}
.imagenSalon1 {
  width: 600px;
}
.imagenSalon2 {
  width: 600px;
}
.logoSitio {
  font-weight: 300;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-align: left;
  line-height: 44px;
  word-spacing: normal;
  letter-spacing: normal;
}
.header__logo {
  color: black;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formulario {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
}

.pGeneral {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
}

.imagenYogaKund {
  width: 300px;
  margin-left: 40px;
}

.imagenYogaViny {
  width: 300px;
  margin-right: 40px;
}

.imagenMeditacion {
  width: 300px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.pNuestrasClases {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 24px;
  word-spacing: normal;
  letter-spacing: normal;
  font-weight: 500;
}
.navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
  color: black !important;
}
.bg-nav {
  background-color: rgb(194, 194, 194);
}


/*Bootstrap Themes*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

a {
  color: grey;
  text-decoration: underline;
}
a:hover {
  color: grey;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group > .card {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}
.justify-content-center {
  justify-content: center !important;
}

@media (min-width: 576px) {
  .justify-content-sm-center {
    justify-content: center !important;
  }
  
  .justify-content-md-center {
    justify-content: center !important;
  }
}
@media (min-width: 992px) {
  
  .justify-content-lg-center {
    justify-content: center !important;
  }
}
@media (min-width: 1200px) {
  .justify-content-xl-center {
    justify-content: center !important;
  }
}
@media (min-width: 1400px) {
  
  .justify-content-xxl-center {
    justify-content: center !important;
  }
}

body {
  letter-spacing: 0.0625em;
}

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid rgb(155, 155, 155);
}
.contact-section .card h4,
.contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: white;
  border-radius: 100%;
  line-height: 3rem;
  color: black;
}
.contact-section .social a:hover {
  color: gray;
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
  background-color: rgb(194, 194, 194);
}
.contact-section {
  background-color: rgb(194, 194, 194) !important;
}
.linkMail {
  color: grey;
}
.footer__iconos {
  margin-top: 50px !important;
}
.logos {
  margin-bottom: 15px;
}
.logosFooter {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.footer__inicio {
  margin-bottom: 5px;
}
/*# sourceMappingURL=styles.css.map */
